:root[data-theme='light'] {
	--bg: #ffffff;
	--bg-second: #fcfcfc;
	--hero: #820000;
	--hero-pale: #c04e4e;
	--dark-hero: #700000;
	--dark-pale: #881414;
	--glow: #c10f1a;
	--text: #121212;
	--invert-text: #ffffff;
	--subtext: #555555;
	--border: #e0e0e0;
	--gray: #a19c9c;
}

:root[data-theme='dark'] {
	--bg: #252525;
	--bg-second: #323232;
	--hero: #820000;
	--hero-pale: #c04e4e;
	--dark-hero: #660000;
	--dark-pale: #881414;
	--glow: #c10f1a;
	--text: #f4f4f4;
	--invert-text: #121212;
	--subtext: #555555;
	--border: #303030;
	--gray: #524e4e;
}
