:root[data-theme='light'] {
	--bg: #ffffff;
	--bg-second: #fcfcfc;
	--hero: #820000;
	--hero-pale: #c04e4e;
	--dark-hero: #700000;
	--dark-pale: #881414;
	--glow: #c10f1a;
	--text: #121212;
	--invert-text: #ffffff;
	--subtext: #555555;
	--border: #e0e0e0;
	--gray: #a19c9c;
	--shadow: 1px 2px 4px rgba(52, 52, 62, 0.125);
}

:root[data-theme='dark'] {
	--bg: #252525;
	--bg-second: #272727;
	--hero: #820000;
	--hero-pale: #c04e4e;
	--dark-hero: #660000;
	--dark-pale: #881414;
	--glow: #c10f1a;
	--text: #f4f4f4;
	--invert-text: #121212;
	--subtext: #808080;
	--border: #282828;
	--gray: #6d6767;
	--shadow: 1px 2px 4px rgba(0, 0, 0, 0.125);
}
